@using System.ComponentModel.DataAnnotations

@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<EditForm Model="model">
    <InputRadioGroup @bind-Value="model.Season"></InputRadioGroup>
</EditForm>
    

    @code{
        Model model = new Model();

        class Model
        {
            public Season Season { get; set; } = Season.Autumn;
        }

        enum Season
        {
            [Display(Name = "Spring")]
            Spring,
            [Display(Name = "Summer")]
            Summer,
            [Display(Name = "Autumn")]
            Autumn,
            [Display(Name = "Winter")]
            Winter,
        }
    }
